Voorbeeld bag of words analyse met naive bayes

In [1]:
files = ["resources/cancer_abstract.txt","resources/cancer_2_abstract.txt","resources/fibomalgia_2_abstract.txt","resources/fibromalgia_abstract.txt"]

Eerst het bouwen van de bag of words

In [2]:
from nlp import file_merger,group_encoder,multi_hot_encoding,frequency_checker,tf_idf_calc
max_tokens = 2000
min_freq = 2
merged_words, len_of_files = file_merger(files)
uncoupled_token_list_of_lists, token_dict = group_encoder(max_tokens,min_freq,merged_words,len_of_files)

In [3]:
multi_df = multi_hot_encoding(uncoupled_token_list_of_lists,token_dict,files)
multi_df.head()

,resources/cancer_abstract.txt,resources/cancer_2_abstract.txt,resources/fibomalgia_2_abstract.txt,resources/fibromalgia_abstract.txt
1,1,1,1,1
2,1,1,1,1
3,1,1,1,1
4,1,1,1,1
5,0,0,1,1

In [4]:
freq_df = frequency_checker(uncoupled_token_list_of_lists,token_dict,files," ")
freq_df.head()

,resources/cancer_abstract.txt,resources/cancer_2_abstract.txt,resources/fibomalgia_2_abstract.txt,resources/fibromalgia_abstract.txt
1,3,3,4,2
2,3,3,10,11
3,1,1,4,8
4,3,1,9,9
5,0,0,4,3

tf_idf data

In [5]:
tf_df = tf_idf_calc(uncoupled_token_list_of_lists,token_dict,files)
tf_df.head()

,resources/cancer_abstract.txt,resources/cancer_2_abstract.txt,resources/fibomalgia_2_abstract.txt,resources/fibromalgia_abstract.txt
1,0.066980,0.063963,0.036979,0.022647
2,0.055505,0.053005,0.076608,0.103219
3,0.021600,0.020627,0.035774,0.087639
4,0.058403,0.018591,0.072547,0.088862
5,0.000000,0.000000,0.041190,0.037839

In [36]:
import numpy as np
import pandas as pd

kanker_file_een = tf_df[[files[0]]].to_numpy()
kanker_file_twee = tf_df[[files[1]]].to_numpy()
kanker_files = np.concatenate((kanker_file_een, kanker_file_twee))
kanker_labels = np.ones(len(kanker_files)).astype(bool)

fibro_file_een = tf_df[[files[2]]].to_numpy()
fibro_file_twee = tf_df[[files[3]]].to_numpy()
fibro_files = np.concatenate((fibro_file_een,fibro_file_twee))
fibro_labels = np.zeros(len(fibro_files)).astype(bool)

labels = np.concatenate((kanker_labels,fibro_labels))
data = np.concatenate((kanker_files,fibro_files))

In [ ]:
from sklearn import naive_bayes
from sklearn.model_selection import cross_validate

model = naive_bayes.CategoricalNB()
score = cross_validate(model,data,labels, return_train_score=True)
for key, val in score.items():
    print(key , val.mean())

fit_time 0.0026818275451660155
score_time 0.001344156265258789
test_score 0.49896103896103894
train_score 0.5002599090318388

freq diff

In [34]:
kanker_file_een = freq_df[[files[0]]].to_numpy()
kanker_file_twee = freq_df[[files[1]]].to_numpy()
kanker_files = np.concatenate((kanker_file_een, kanker_file_twee))
kanker_labels = np.ones(len(kanker_files)).astype(bool)

fibro_file_een = freq_df[[files[2]]].to_numpy()
fibro_file_twee = freq_df[[files[3]]].to_numpy()
fibro_files = np.concatenate((fibro_file_een,fibro_file_twee))
fibro_labels = np.zeros(len(fibro_files)).astype(bool)

labels = np.concatenate((kanker_labels,fibro_labels))
data = np.concatenate((kanker_files,fibro_files))

In [35]:
model = naive_bayes.CategoricalNB()
score = cross_validate(model,data,labels, return_train_score=True)
for key, val in score.items():
    print(key , val.mean())

fit_time 0.0024489879608154295
score_time 0.0014261245727539063
test_score nan
train_score 0.6003127346986996

/home/ivar-lottman/miniforge3/lib/python3.12/site-packages/sklearn/model_selection/_validation.py:960: UserWarning: Scoring failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/home/ivar-lottman/miniforge3/lib/python3.12/site-packages/sklearn/model_selection/_validation.py", line 949, in _score
    scores = scorer(estimator, X_test, y_test, **score_params)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ivar-lottman/miniforge3/lib/python3.12/site-packages/sklearn/metrics/_scorer.py", line 472, in __call__
    return estimator.score(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ivar-lottman/miniforge3/lib/python3.12/site-packages/sklearn/base.py", line 572, in score
    return accuracy_score(y, self.predict(X), sample_weight=sample_weight)
                             ^^^^^^^^^^^^^^^
  File "/home/ivar-lottman/miniforge3/lib/python3.12/site-packages/sklearn/naive_bayes.py", line 106, in predict
    jll = self._joint_log_likelihood(X)
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ivar-lottman/miniforge3/lib/python3.12/site-packages/sklearn/naive_bayes.py", line 1537, in _joint_log_likelihood
    jll += self.feature_log_prob_[i][:, indices].T
           ~~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^
IndexError: index 16 is out of bounds for axis 1 with size 12

  warnings.warn(

multi def

In [30]:
kanker_file_een = multi_df[[files[0]]].to_numpy()
kanker_file_twee = multi_df[[files[1]]].to_numpy()
kanker_files = np.concatenate((kanker_file_een, kanker_file_twee))
kanker_labels = np.ones(len(kanker_files)).astype(bool)

fibro_file_een = multi_df[[files[2]]].to_numpy()
fibro_file_twee = multi_df[[files[3]]].to_numpy()
fibro_files = np.concatenate((fibro_file_een,fibro_file_twee))
fibro_labels = np.zeros(len(fibro_files)).astype(bool)

labels = np.concatenate((kanker_labels,fibro_labels))
data = np.concatenate((kanker_files,fibro_files))

In [31]:
model = naive_bayes.CategoricalNB()
score = cross_validate(model,data,labels, return_train_score=True)
for key, val in score.items():
    print(key , val.mean())

fit_time 0.002117300033569336
score_time 0.0010356426239013672
test_score 0.6003260281385281
train_score 0.6003127346986996